.DS_Store
**/.DS_Store
Add-Ons
**/__pycache__
!pi_screenshots/*.png
Bachelor_Thesis_LaTEX/*
!Bachelor_Thesis_LaTEX/*.pdf
!Bachelor_Thesis_LaTEX/*.tex
img
img/*.jpg
img/*.png
.idea
**/venv/*
db.sqlite3

