.DS_Store
**/.DS_Store
Add-Ons
**/__pycache__
Bachelor_Thesis_LaTEX/*
!Bachelor_Thesis_LaTEX/*.pdf
!Bachelor_Thesis_LaTEX/*.tex
img
img/*.jpg
img/*.png
.idea
settings.py
wsgi.py
__init__.py
migrations
static_cdn_test
**/venv/*
