{% extends "base.html" %}
{% load static %}

{% block head_title %}
| Loan/Return Main page
{% endblock %}

{% block info %}
Your tiny desktop computer to learn programming,<br> sensors and others awesome things.
{% endblock %}


{% block invitation %}
    <div>
        <div class="blue_text" style="padding-top: 30px; padding-left: 150px;">
            Take a Raspi Board and have your student card ready!
        </div>

            <a href="start" class="blue_button" style="margin-top: 40px; margin-left: 150px;">LOAN / RETURN BOARD</a>
    </div>
{% endblock %}

{% block content %}
    <div class="left_content_container">
        <div class="dark_text" style="font-size: 23px; padding-top: 30px; padding-left: 150px;">
                What I need to loan or return a board?
            </div>
        <div class="left_content_container" style="width: 70%;">

             <div class="blue_text" style="padding-top: 20px; padding-left: 150px;">
                Student card
            </div>
            <div class="gray_text" style="padding-top: 10px; padding-left: 150px;">
                Use your Beuth Campus card<br> to identify yourself<br>
                <font size="-2">https://www.beuth-hochschule.de/campus-card</font>
            </div>
            <div class="blue_text" style="padding-top: 40px; padding-left: 150px;">
                Raspberry Board
            </div>
            <div class="gray_text" style="padding-top: 10px; padding-left: 150px;">
                Take a Raspberry Board<br> from the shelf in this room<br>
            </div>
        </div>
        <div class="right_content_container" style="width: 30%;">
            <img class="info_img"  style="width: 150px;" align=”right” src="{% static "campuscard-beuth.jpg" %}">
            <img class="info_img" style="width: 150px; height: 100px; padding-top: 30px;" align=”right” src="{% static "raspi_board.jpg" %}">

        </div>
    </div>

    <div class="right_content_container">
        <div class="blue_text" style="padding-top: 30px; padding-left: 20px; padding-bottom: 10px;">
            Boards for programming at home:
        </div>
        <table style="width: 70%; margin-left: 20px;">
            <tr>
                <th>Board</th>
                <th>Status</th>
                <th>Info</th>
            </tr>

            {% for object in home_boards_list %}
            <tr>
                <td>{{ object.board_no }}</td>
                <td>{{ object.board_status }}</td>
                <td>
                    {% if object.board_status == 1 %}
                        Ready to loan
                    {% endif %}
                    {% if object.board_status == 2 %}
                        bla
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block right_header_img %}
    <img class="right_header_img" src="{% static "csm_acaLoan-Raspi.jpg" %}">
{% endblock %}
