{% extends "admin.html" %}
{% load static %}

{% block head_title %}
Link Boards
{% endblock %}


{% block content %}
    <div class="admin_content_container" style="padding-left: 150px;">

        <!–– THE CSV FILE WAS UPLOADED IN THE PREVIOUS DJANGO TEMPLATE ––>
        {% if csv_uploaded %}
            <div style="color: black; font-size: 16px;">
                <font style="background-color: #e6ffff; padding: 15px;">
                    CSV file uploaded and added to database<br>
                </font>
            </div>

            <hr class="hr_line" style="margin-left: 0px; margin-top: 50px; margin-bottom: 30px; width: 40%;">

            <a href="#" class="blue_button">LINK RFID TAGS TO BOARDS</a>

            <div class="dark_text" style="padding-top: 20px;">
                Recently added RFIDs:
            </div>

            <table id="infoTable" style="width: 40%;">
            <tr>
                <th>ATR_HEX</th>
                <th>UID</th>
                <th>Board</th>
            </tr>

            {% for rfid in boards_uid_list %}
            <tr>
                <td>{{ rfid.atr_hex}}</td>
                <td>{{ rfid.uid }}</td>
                <td>bla</td>
            </tr>
            {% endfor %}
        </table>

        <!–– NO CSV FILE WAS UPLOADED IN THE PREVIOUS DJANGO TEMPLATE ––>
        {% else %}
            <div style="color: black; font-size: 16px;">
                <font style="background-color: #ffe6e6; padding: 15px;">
                    Please upload CSV file with boards_no and boards_uid!<br>
                </font>
            </div>

            <hr class="hr_line" style="margin-left: 0px; margin-top: 50px; margin-bottom: 30px; width: 40%;">

            <a href="upload_rfid" class="blue_button">BACK TO UPLOAD</a>

        {% endif%}
    </div>

{% endblock %}


{% block right_header_img %}
<img class="right_header_img_admin" src="{% static "icons8-raspberry-pi-96.png" %}">
{% endblock %}