{% extends "base.html" %}
{% load static %}

{% block js_load %}
    <script src="{% static "js/session_state.js" %}"></script>

{% endblock js_load %}

{% block head_title %}
| Start
{% endblock %}

{% block info %}
Use the card reader near the monitor.
{% endblock %}

{% block invitation %}
    <div>
        <div class="dark_text" style="padding-top: 40px; padding-left: 150px; font-size: 18px;">
            First scan your student card:
        </div>
         <div class="blue_text" style="padding-top: 10px; padding-left: 150px; font-size: 26px;">
                {% if student %}
                    {{ student }}
                {% endif %}
         </div>
    </div>
{% endblock %}

{% block content %}
    <div class="left_content_container">
        <div class="dark_text" style="padding-top: 10px; padding-left: 150px;">
            {% if student %}
                Place your Raspi Board at least 1 cm from the scanner
            {% endif %}
            </div>
    </div>

    <div class="right_content_container">
        <div class="blue_text" style="padding-top: 10px; padding-left: 100px; padding-bottom: 10px;">
            You have 1 board
        </div>
    </div>
{% endblock %}

{% block right_header_img %}
    <img class="right_header_img" src="{% static "reader.png" %}">
{% endblock %}
