{% extends "base.html" %}
{% load static %}

{% block js_load %}
    <script src="{% static "js/session_state.js" %}"></script>

{% endblock js_load %}

{% block head_title %}
| Start
{% endblock %}

{% block info %}
Use the card reader near the monitor.
{% endblock %}

{% block invitation %}
    <div>
        <div id="scan_card" class="dark_text" style="padding-top: 40px; padding-left: 150px; font-size: 18px;">
            First scan your student card:
        </div>
        <div id="welcome_student" class="dark_text" style="padding-top: 40px; padding-left: 150px; font-size: 18px; display: none;">
            Nice to see you
        </div>
        <div id="student_name" class="blue_text" style="padding-top: 10px; padding-left: 150px; font-size: 26px;">
         </div>
    </div>
{% endblock %}

{% block content %}
    <div class="left_content_container" style="min-width: 200px;">
        <div id="place_board" class="dark_text" style="padding-top: 5px; padding-left: 150px; display: none;">
            Place your Raspi Board at least 1 cm from the scanner
         </div>
         <div id="scanned_board_text" class="dark_text" style="padding-top: 5px; padding-left: 150px; display: none;">
            You have scanned a board:
         </div>
         <div id="scanned_board_info" class="blue_text" style="	font-size: 24px; padding-top: 10px; padding-left: 150px; padding-bottom: 10px; display: none;">
        </div>

        <div id="return_button_div" style="padding-top: 100px; padding-left: 150px; display: none;">
            <button id="return_button" class="blue_button" >RETURN SCANNED BOARD</button>
        </div>
         <div id="cancel_button_div" style="padding-top: 100px; padding-left: 150px;">
            <button id="cancel_button" class="red_button" >CANCEL</button>
        </div>
    </div>

    <div class="right_content_container">
        <div id="loaned_lab_board_info" class="blue_text" style="padding-top: 10px; padding-left: 100px; padding-bottom: 0px; display: none;">
        </div>
        <div id="loaned_lab_board_operation" class="dark_text" style="font-size: 14px; padding-top: 0px; padding-left: 100px; padding-bottom: 10px; display: none;">
        </div>
        <div id="loaned_home_board_info" class="blue_text" style="padding-top: 10px; padding-left: 100px; padding-bottom: 0px; display: none;">
        </div>
        <div id="loaned_home_board_operation" class="dark_text" style="font-size: 14px; padding-top: 0px; padding-left: 100px; padding-bottom: 10px; display: none;">
        </div>
        <div id="operation_info" class="blue_text" style="padding-top: 10px; padding-left: 100px; padding-bottom: 10px; display: none;">
        </div>
    </div>
{% endblock %}

{% block right_header_img %}
    <img class="right_header_img" src="{% static "reader.png" %}">
{% endblock %}
