{% extends "admin.html" %}
{% load static %}

{% block head_title %}
Admin Main Page
{% endblock %}


{% block content %}
 <div class="admin_content_container" style="padding-left: 150px;">

    <div class="dark_text">
        {% if user.is_authenticated %}
            Welcome, <strong> {{ user.username }}!</strong>
        {% endif %}
    </div>
     <hr class="hr_line" style="margin-left: 0px; margin-top: 20px; margin-bottom: 30px; width: 40%;">
     <div class="blue_text" style="padding-top: 5px; font-size: 18px;">
        What do you want to do?
    </div>

     <a href="upload_rfid" class="blue_button" style="margin-top: 30px;">UPLOAD RASPI BOARD CSV-FILE</a>
     <br>
     <a href="upload_student" class="blue_button" style="margin-top: 50px;">UPLOAD STUDENT CARD CSV-FILE</a>
     <br>
     <form method="post" action="logout">
        {% csrf_token %}
        <button type="submit" class="red_button" style="margin-top: 50px;">LOG OUT</button>
     </form>
 </div>
{% endblock %}


{% block right_header_img %}
<img class="right_header_img_admin" src="{% static "icons8-raspberry-pi-96.png" %}">
{% endblock %}